%article
  %h2 ABOUT

  %h3 CONCEPT
  .concept
    %h4 1. 現役とOPが関われる新しい形
    %p= "現役とOPが関わるといえば、現役の演奏会にOPが遊びに行ったり、OP交流会くらいしかありませんでした。"
    %p= "そこで、もっと「OPも演奏する」「現役とOPが一緒になにかをやる」イベントとして、Dolce音楽祭が生まれました。"
  .concept
    %h4 2. 周りに知り合いしかいない環境
    %p= "お客さんもステージ上のミュージシャンも、全員がDolceの人間です。"
    %p= "普通のライブとはちょっと違う、親近感に溢れた特別な空間で、思いっきり楽しめるはずです。"
  .concept
    %h4 3. 自分と直接関わりのない人と一緒に演奏できるチャンス
    %p= "年代的に自分とかぶらない人と演奏できるチャンスといえば、一般の楽団やバンドに入るくらいしかありません。"
    %p= "しかしここなら、「知らない人だけど身内」という環境で、いろいろな人と絡んでいくことができます。"

  %h3 ATTENTION
  %ul
    %li= "貴重品は各自で管理してください。盗難・紛失の責任は一切負えません。"
    %li= raw "再入場はできません。<br>ネタグッズなどはあらかじめ近所のLOFTやハンズにて買ってから入りましょう。"
    %li= raw "会場内への飲食物の持ち込みはご遠慮下さい。<br>なるべくライブハウスにお金を落としましょう。"
    %li= raw "ダイブは大歓迎です。<br>しかし、平均サイズよりも大きな人は控えてください。"
    %li= raw "モッシュも大歓迎です。<br>しかし、平均サイズよりも大きな人は控えてください。"
    %li= raw "基本的にチケットの払い戻しは行いませんのでご了承ください。"
