%article
  %h2= "ACCESS/SCHEDULE"
  %ul
    %li= "会場：LIVE HALL aube shibuya"
    %li= "日時：2011/9/17(sat) open: 16:30/ start: 17:00"
    %li= "出演"
    %ul
      %li= "湘南台事変"
      %li= "Don't DONMAI"
      %li= "The Bombies"
      %li= "松井周"
      %li= "OP吹奏楽団"
      %li= "...and more!"
  :plain
    <iframe width="590px" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.jp/maps/ms?msa=0&amp;gl=jp&amp;hl=ja&amp;brcurrent=3,0x60188ca93f01526f:0x614ac5cbed07c5a7,0&amp;ie=UTF8&amp;ll=35.662505,139.697873&amp;spn=0,0&amp;iwloc=0004a94a9caeaa2b17ad7&amp;msid=209834523609495128452.0004a94a9cadca9781cec&amp;output=embed"></iframe><br /><small>より大きな地図で <a href="http://maps.google.co.jp/maps/ms?msa=0&amp;gl=jp&amp;hl=ja&amp;brcurrent=3,0x60188ca93f01526f:0x614ac5cbed07c5a7,0&amp;ie=UTF8&amp;ll=35.662505,139.697873&amp;spn=0,0&amp;iwloc=0004a94a9caeaa2b17ad7&amp;msid=209834523609495128452.0004a94a9cadca9781cec&amp;source=embed" style="color:#0000FF;text-align:left">LIVE HALL aube shibuya</a> を表示</small>
