!!!
%html
  %head
    %title= "Dmfes"
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag

  %body

    #wrapper
      #header
        %h1= link_to "Dolce Music Festival 2011", root_path
        %ul#gnav
          %li{:class => "#{current_tab('top')} first"}= link_to "TOP", root_path
          %li{:class => current_tab('about')}= link_to "ABOUT", about_path
          %li{:class => current_tab('news')}= link_to "NEWS", news_index_path
          %li{:class => current_tab('artists')}= "ARTISTS"
          %li{:class => "#{current_tab('access')} last"}= link_to "ACCESS", access_path

      #contents{:class => current_tab_name}
        .left_col
          = yield
        .right_col
          :plain
            <script src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
              new TWTR.Widget({
                version: 2,
                type: 'profile',
                rpp: 5,
                interval: 6000,
                width: 'auto',
                height: 300,
                theme: {
                  shell: {
                    background: '#ffffff',
                    color: '#666666'
                  },
                  tweets: {
                    background: '#ffffff',
                    color: '#424242',
                    links: '#2207eb'
                  }
                },
                features: {
                  scrollbar: false,
                  loop: false,
                  live: true,
                  hashtags: true,
                  timestamp: true,
                  avatars: false,
                  behavior: 'default'
                }
              }).render().setUser('dmfes').start();
            </script>

      #footer
